// --- CONFIGURACIÓN FINAL (MODO LOCAL) --- Crear carpeta custom-config.js y poner lo siguiente

// 1. Quitar botones (Limpio)
config.toolbarButtons = [ 'hangup' , "camera","microphone","participants-pane"];
config.prejoinConfig = {
    enabled: false};
config.welcomePage = {
    disabled: true};
config.startWithVideo={
    enabled: true};
condif.startWithAudio={
    disabled: false};

crear carpeta custom-interface_config.js y poner lo siguiente

// Estas líneas modifican la configuración directamente
interfaceConfig.DEFAULT_LOGO_URL = 'images/brandingnew.png';
interfaceConfig.SHOW_JITSI_WATERMARK = true;
interfaceConfig.SHOW_BRAND_WATERMARK = false;
interfaceConfig.JITSI_WATERMARK_LINK = '';
interfaceConfig.APP_NAME = 'Centro de Seguridad';

EN web/ngnix/ crear un archivo llamado totem.conf y poner lo siguiente
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    # --- 1. SI ENTRAS AL HOME, TE MANDA A VIGILANCIA ---
    location = / {
        return 301 /vigilancia;
    }

    # --- 2. EL GUARDIAN SILENCIOSO ---
    # Esta regla bloquea SOLO si detecta un "Nombre de Sala" que NO sea vigilancia.
    # Explicación técnica: 
    # - [^./]+ significa "palabra sin puntos" (las salas no tienen puntos, los archivos si).
    # - (?!vigilancia|http-bind...) significa "Si NO es vigilancia ni conexión interna".
    
    location ~ ^/(?!(vigilancia|http-bind|xmpp-websocket|colibri-ws)$)[^./]+/?$ {
        return 403 "Sala fija: solo se permite acceder a /vigilancia.\n";
    }

    # --- 3. CARGAR JITSI NORMAL ---
    # Esto asegura que http-bind, css, js y todo lo demas funcione sin que lo toquemos.
    include /config/nginx/meet.conf;

Antes de hacer docker-compose up -d
entrar al docker-compose.yml y borrar la siguiente linea, ya que al ser la primera vez recien se creara el jitsi-meet-cfg donde pondran todo lo anterior y de ahi pondran otra vez esto:
- ${CONFIG}/web/nginx/totem.conf:/config/nginx/site-confs/default:ro
